PORT=3001
MONGO_DB=mongodb+srv://username:password@cluster.mongodb.net/database
ACCESS_TOKEN=your_access_token_secret
REFRESH_TOKEN=your_refresh_token_secret
CLIENT_URL=http://localhost:5173
NODE_ENV=development
